<!-- Jumbotron / Section de présentation -->
<div class="p-5 mb-4 rounded-3 big-banner text-center text-white" style="background-image: url(<%= asset_path('big-banner.avif') %>);">
  <div class="overlay d-flex justify-content-center align-items-center">
    <div class="container-fluid py-5" >
      <h1 class="display-4 fw-bold text-primary">Bienvenue sur EventProject</h1>
      <p class="col-md-8 fs-5 mx-auto">Retrouvez ici tous les événements disponibles. N'hésitez pas à participer à ceux qui vous intéressent !</p>
    
      <% if user_signed_in? %>
        <%= link_to "Créer un nouvel événement", new_event_path, class: "btn btn-primary btn-lg" %>
      <% else %>
        <p class="text-light mx-auto">Connectez-vous pour pouvoir créer un nouvel événement.</p>
        <%= link_to "Se connecter", new_user_session_path, class: "btn btn-outline-primary  me-2" %>
        <%= link_to "S'inscrire", new_user_registration_path, class: "btn btn-outline-secondary" %>
      <% end %>
    </div>
  </div>
</div>